<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../image/pomme.png">
    <link rel="stylesheet" href="Diab.Css">
    <script src="./js.js" defer></script>
    <script src="../java.js" defer></script>
    <title>Exemple de rectangle</title>
</head>
<body>
    <div class="Header">
        <!-- Section maladies -->
        <div class="maladies">
            <a href="../mainPage.html"> <img class="Logo" src="../image/logo_ours.png" alt=""> </a>
            <a class="clique" href="./Diabète.html"> <img src="../image/diab-log.png" alt=""> Diabète  </a>
            <a class="clique" href="../Anémie/Anémie.html"><img src="../image/ané-log.png" alt=""> Anémie</a>
        </div>
        <!-- Section liens -->
        <div class="liens">
            <div class="defil">
                     
                <button class="C"><img src="../image/contact-log.png" alt="">Contact</button> 
                
                    <center>
                        <button class="sousC"><a href="">Tel : +33 951453761</a></button>
                        <button class="sousC"><a href="">Mail : bienetre.partage.sante@gmail.com</a></button>
                    </center>
            </div>
            <a class="clique" href="../Liens-utiles/liensutiles.html"><img src="../image/liens-log.png" alt=""> Liens utiles</a>
            <div class="defil">
                
                        <button class="ML" > <img src="../image/liste-log.png" alt="">Ma liste</button> 
                    <center>
                        <button class="sousML"><a href="">MilleFeuille </a></button>
                        <button class="sousML"><a href="">Salade d'épinard </a></button>
                    </center>
                    
                
            </div>
            
        </div>

        <div class="phoneMenu" >
        
            <ul>
                <li><a href="../../index.html">Portfolio</a></li>
                <li><a href="../diabète/Diabète.html">Diabète</a></li>
                <li><a href="../Anémie/Anémie.html">Anémie</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="../Liens-utiles/liensutiles.html">Liens utiles </a></li>
                <li><a href="#">Ma liste</a></li>
            </ul>
       </div>
       <nav>
            <div class="Hmenu">
                <img src="../image/menu.png" alt="">
              
            </div>
       </nav>
    </div>
    <div class="page">
    <main class="container">
        <section class="rectangle">
            <a href="./recette1.html">
            <center>
                <h2>Salade végétale colorée</h2>
            </center>
            <div class="youtube78">
                <img class="plat78" src="../image//SaladeColorée.png" width="500" height="250" alt="">
                <video  width="500" height="250" class="test-video78" loop muted id="mdrrr">
                <source src="../image/salade.mp4" type="video/mp4">
               </video>
            </div>
            <center> 
         
                <p class="prof">
                    Profitez d'une salade fraiche composé essentiellement de carottes , choux rouge et lentilles , tout cela étant frais et rapide a effectuer !

                </p>
            </center>
            <div class="icones">
                <div style="display: flex;">
                    <img src="../image/diab-log.png" alt="flacon" class="flacon">
                    <p>Diabète</p>
                </div>
                <div style="display: flex;">
                    <img src="../image/couteau.png" alt="couteau" class="couteau">
                    <p>25 min</p>
                </div>
                <div style="display: flex;">
                    <img src="../image/temps-removebg-preview.png" alt="temps" class="temps">
                    <p>4 pers.</p>
                </div>
                <div style="display: flex;">
                    <img src="../image/_-removebg-preview.png"  alt="euro" class="euro">
                    <p>7.50€</p>
                </div>
            </div>
        </a>
        </section>

        <section class="rectangle-droite">
            <a href="./recette2.html">
            <center>
                <h2>Gaspacho de courgette </h2>
            </center>
            <div class="youtube24">
                <img class="plat24" src="../image/gaspacho.png" width="500" height="250" alt="">
                <video  width="500" height="250" class="test-video24" loop muted id="marche">
                <source src="../image/gaspacho.mp4" type="video/mp4">
               </video>
            </div>
            <center>
                <p>
                    Profitez d’une recette fraiche, rapide et économique avec sa touche de féta !
                </p>
            </center>
            <div class="icones" style="display: flex;"> 
                <div style="display: flex;">
                    <img src="../image/diab-log.png"  alt="flacon" class="flacon">
                    <p>Diabète</p>
                </div>
                <div style="display: flex;">
                <img src="../image/couteau.png" alt="couteau" class="couteau">
                <p>20 min</p>
                </div>
                <div style="display: flex;">
                <img src="../image/temps-removebg-preview.png" alt="temps" class="temps">
                <p>4 pers.</p>
                </div>
                <div style="display: flex;">
                <img src="../image/_-removebg-preview.png" alt="euro" class="euro">
                <p>15.70€</p>
            </div>
            </div>
        </a>
        </section>
    </main>
</div>

    <!-- Pied de page -->
    <div class="footer">
        <!-- Liens vers les réseaux sociaux -->
        <a class="icon-link" href="https://www.instagram.com/_____beps_____/"><img src="../image/instagram 1.png" alt=""></a>
        <a class="icon-link" href=" https://www.facebook.com/profile.php?id=61553080681782"><img src="../image/facebook 1.png" alt=""></a>
        <a class="icon-link" href=""><img src="../image/twitter 1.png" alt=""></a>
        <a class="icon-link" href=""><img src="../image/tic-tac 1.png" alt=""></a>
    </div>
</body>
</html>
