<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaspacho de courgette à la féta</title>
    <link rel="stylesheet" href="stylerecette2.css">
    <script src="scriptrecette1.js" defer></script>
    <script src="../java.js" defer></script>

</head>

<body>
    <div class="Header">
        <!-- Section maladies -->
        <div class="maladies">
            <a href="../mainPage.html"> <img class="Logo" src="../image/logo_ours.png" alt=""> </a>
            <a class="clique" href="./Diabète.html"> <img src="../image/diab-log.png" alt=""> Diabète  </a>
            <a class="clique" href="./Anémie.html"><img src="../image/ané-log.png" alt=""> Anémie</a>
        </div>
        <!-- Section liens -->
        <div class="liens">
            <div class="defil">
                     
                <button class="C"><img src="../image/contact-log.png" alt="">Contact</button> 
                
                    <center>
                        <button class="sousC"><a href="">Tel : +33 951453761</a></button>
                        <button class="sousC"><a href="">Mail : bienetre.partage.sante@gmail.com</a></button>
                    </center>
            </div>
            <a class="clique" href="../Liens-utiles/liensutiles.html"><img src="../image/liens-log.png" alt=""> Liens utiles</a>
            <div class="defil">
                
                        <button class="ML" > <img src="../image/liste-log.png" alt="">Ma liste</button> 
                    <center>
                        <button class="sousML"><a href="">MilleFeuille </a></button>
                        <button class="sousML"><a href="">Salade d'épinard </a></button>
                    </center>
                    
                
            </div>
            
        </div>
    
    
    <div class="phoneMenu" >
        
        <ul>
            <li><a href="../../index.html">Portfolio</a></li>
            <li><a href="../diabète/Diabète.html">Diabète</a></li>
            <li><a href="../Anémie/Anémie.html">Anémie</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="../Liens-utiles/liensutiles.html">Liens utiles </a></li>
            <li><a href="#">Ma liste</a></li>
        </ul>
    </div>
    <nav>
        <div class="Hmenu">
            <img src="../image/menu.png" alt="">
          
        </div>
    </nav>
    </div>
    <div class="phoneMenu" >
           
        <ul>
            <li><a href="../index.html">Portfolio</a></li>
            <li><a href="./diabète/Diabète.html">Diabète</a></li>
            <li><a href="./Anémie/Anémie.html">Anémie</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="./Liens-utiles/liensutiles.html">Liens utiles </a></li>
            <li><a href="#">Ma liste</a></li>
        </ul>
    </div>
    <nav>
        <div class="Hmenu">
            <img src="../image/menu.png" alt="">
          
        </div>
    </nav>
   <div class="page">
    <div class="titrerecette">
        <h1>Gaspacho de courgette à la féta</h1>
        <div class="inforecette">
            <button><img class="imagerecette" src="../image/Diabete noir.png" alt=""> Diabète</button>
            <button><img class="imagerecette" src="../image/sablier noir.png" alt=""> 20 min.</button>
            <button><img class="imagerecette" src="../image/couverts noirs.png" alt=""> 4 pers.</button>
        </div>
    </div>

    <div class="recette">
        <div class="blocgauche">
            <div class="blochaut">
                <h2>Ingrédients</h2>
                <div class="blocingredient">
                    <div class="quantite">
                        <p>600g <br>2 <br>2 <br>40g <br>1/2</p>
                    </div>
                    <div class="ingredient1">
                        <p>Courgettes <br>Oignons <br>Gousses d'ail <br>Pain dur <br>Bouquet de basilic</p>
                    </div>
                    <div class="quantite">
                        <p>2 c.a.s <br>100g <br>2 c.a.s</p> 
                    </div>
                    <div class="ingredient2">
                        <p>Huile d'Olive<br>Féta <br>Vinaigre de Xérès</p>
                    </div>
                </div>
            </div>


            <div class="blocbas">
                <h2>Recette</h2>
                <div class="blocrecette">
                    <div class="etape">
                    <p>1. La veille, laver et couper les courgettes en rondelles. Les faire cuire dans un casserole d’eau bouillante 8 minutes.</p><p>2. Eplucher l’ail et les oignons nouveaux. Hacher finement et ajouter dans l’eau bouillante, avec les courgettes, à mi-cuisson. </p><p>3. Egoutter en conservant 200 ml d’eau de cuisson. Réserver au réfrigérateur. Le lendemain, faire tremper le pain dans le vinaigre pendant 10 minutes.</p><p>4. Mixer les courgettes, l’ail et oignons avec l’eau de cuisson et le basilic. Ajouter le pain, la moitié de la feta, l’huile d’olive et mixer à nouveau. Servir, parsemer de feta et de paprika, poivrer et déguster.</p>
                    </div>
                </div>
            </div>
        </div>
    
    <img class="photorecette" src="../image/gaspacho.png" alt="">
    </div>

    <div class="basrecette">
        <button class="like" id="likeButton">
            <img class="imagerecette" src="../image/jaime.png" alt="" id="likeIcon">
        </button>

        <button class="etoile" id="etoileButton">
            <img class="star" src="../image/etoilevide.png" alt="">
            <img class="star" src="../image/etoilevide.png" alt="">
            <img class="star" src="../image/etoilevide.png" alt="">
            <img class="star" src="../image/etoilevide.png" alt="">
            <img class="star" src="../image/etoilevide.png" alt="">
          </button>


    </div>
</div>

    <div class="footer">
        <!-- Liens vers les réseaux sociaux -->
        <a class="icon-link" href="https://www.instagram.com/_____beps_____/"><img src="../image/instagram 1.png" alt=""></a>
        <a class="icon-link" href=" https://www.facebook.com/profile.php?id=61553080681782"><img src="../image/facebook 1.png" alt=""></a>
        <a class="icon-link" href=""><img src="../image/twitter 1.png" alt=""></a>
        <a class="icon-link" href=""><img src="../image/tic-tac 1.png" alt=""></a>
    </div>


</body>
