<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../image/utile.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="liensutiles.css">
    <script src="../java.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="Header">
        <!-- Section maladies -->
        <div class="maladies">
            <a href="../mainPage.html"> <img class="Logo" src="../image/logo_ours.png" alt=""> </a>
            <a class="clique" href="../diabète/Diabète.html"> <img src="../image/diab-log.png" alt=""> Diabète  </a>
            <a class="clique" href="../Anémie/Anémie.html"><img src="../image/ané-log.png" alt=""> Anémie</a>
        </div>
        <!-- Section liens -->
        <div class="liens">
            <div class="defil">
                     
                <button class="C"><img src="../image/contact-log.png" alt="">Contact</button> 
                
                    <center>
                        <button class="sousC"><a href="">Tel : +33 951453761</a></button>
                        <button class="sousC"><a href="">Mail : bienetre.partage.sante@gmail.com</a></button>
                    </center>
            </div>
            <a class="clique" href="./liensutiles.html"><img src="../image/liens-log.png" alt=""> Liens utiles</a>
            <div class="defil">
                
                        <button class="ML" > <img src="../image/liste-log.png" alt="">Ma liste</button> 
                    <center>
                        <button class="sousML"><a href="">MilleFeuille </a></button>
                        <button class="sousML"><a href="">Salade d'épinard </a></button>
                    </center>
                    
                
            </div>
            
        </div>
   

    <div class="phoneMenu" >
        
        <ul>
            <li><a href="../../index.html">Portfolio</a></li>
            <li><a href="../diabète/Diabète.html">Diabète</a></li>
            <li><a href="../Anémie/Anémie.html">Anémie</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="../Liens-utiles/liensutiles.html">Liens utiles </a></li>
            <li><a href="#">Ma liste</a></li>
        </ul>
   </div>
   <nav>
        <div class="Hmenu">
            <img src="../image/menu.png" alt="">
          
        </div>
   </nav>
    </div>

    
    

 <div class="page">  
<center>
         <div class="blocpro1">
              <div class="blocpapa1">
                 <figure>
             <img class="imageP1" src="../image/nutri femme1.jpg" alt="">
                 </figure>

                 <div class="textebloc1">
                     <p class="texteP1">ROCHETTE Claire, endocrinologue Diabétologue : </p>
                     <p class="texteP1"> "Une alimentation équilibré et riche en vitamine tout en evitant la prise de poids "</p>
                     
                 </div>
              </div>
              <div class="but">
                 <a  href="https://www.hopital-prive-lacasamance.fr/fr/medecins/praticiens/id-2917-claire-rochette" > Visiter le site </a>   
                </div>
                
             </div>
</center>

<center>
    <div class="blocpro2">
          <div class="blocpapa2">
                <figure>
                    <img class="imageP2" src="../image/doc homme.jpg" alt="">
                </figure>
            
                <div class="textebloc2">
                    <p class="texteP">SEBAHOUN Gérard, medecine interne : </p>
                    <p class="texteP">"Une alimentation riche en fer, vitamine B12 et B9 est essentielle pour limiter les risque de perte de connaissance "</p>
                </div>
            </div>
                <div class="but"> 
                    <a  href="https://ch-aubagne.eu/medecin/gerard-sebahoun/" > Visiter le site </a>   
                </div>
               
</center>
            
    </div>

<center>
    <div class="blocpro3">
        <div class="blocpapa3">
          <figure>
            <img class="imageP3" src="../image/nutrifemme2.jpg" alt="">
        </figure>
         <div class="textebloc3">
            <p class="texteP"> AUFFRET Alexandra, Kinésithérapeute et Ostéopathe du sport : </p>
            <p class="texteP">"Manger sain et pas cher , la meilleures des combinaisons !" </p>
         </div>
        </div>  
           
        <div class="but"> 
            <a  href="https://toutpourmasante.fr/manger-sain-et-pas-cher/" > Visiter le site </a>   
        </div>

</center>
</div>
</div> 







    <div class="footer">
        <a class="icon-link" href="https://www.instagram.com/_____beps_____/"><img src="../image/instagram 1.png" alt=""></a>
        <a class="icon-link" href=" https://www.facebook.com/profile.php?id=61553080681782"><img src="../image/facebook 1.png" alt=""></a>
        <a class="icon-link" href=""><img src="../image/twitter 1.png" alt=""></a>
        <a class="icon-link" href=""><img src="../image/tic-tac 1.png" alt=""></a>
     </div>

</body>
</html>
