<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Anémie.css">
    <link rel="icon" href="../image/pomme.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="./java.js" defer></script>
    <script src="../java.js" defer></script>
    <title>Exemple de rectangle</title>
</head>
<body>
    <!-- En-tête de la page -->
    <div class="Header">
        <!-- Section maladies -->
        <div class="maladies">
            <a href="../mainPage.html"> <img class="Logo" src="../image/logo_ours.png" alt=""> </a>
            <a class="clique" href="../diabète/Diabète.html"> <img src="../image/diab-log.png" alt=""> Diabète  </a>
            <a class="clique" href="./Anémie.html"><img src="../image/ané-log.png" alt=""> Anémie</a>
        </div>
        <!-- Section liens -->
        <div class="liens">
            <div class="defil">
                     
                <button class="C"><img src="../image/contact-log.png" alt="">Contact</button> 
                
                    <center>
                        <button class="sousC"><a href="">Tel : +33 951453761</a></button>
                        <button class="sousC"><a href="">Mail : bienetre.partage.sante@gmail.com</a></button>
                    </center>
            </div>
            <a class="clique" href="../Liens-utiles/liensutiles.html"><img src="../image/liens-log.png" alt=""> Liens utiles</a>
            <div class="defil">
                
                        <button class="ML" > <img src="../image/liste-log.png" alt="">Ma liste</button> 
                    <center>
                        <button class="sousML"><a href="">MilleFeuille </a></button>
                        <button class="sousML"><a href="">Salade d'épinard </a></button>
                    </center>
                    
                
            </div>
            
        </div>
   

    <div class="phoneMenu" >
        
        <ul>
            <li><a href="../../index.html">Portfolio</a></li>
            <li><a href="../diabète/Diabète.html">Diabète</a></li>
            <li><a href="../Anémie/Anémie.html">Anémie</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="../Liens-utiles/liensutiles.html">Liens utiles </a></li>
            <li><a href="#">Ma liste</a></li>
        </ul>
   </div>
   <nav>
        <div class="Hmenu">
            <img src="../image/menu.png" alt="">
          
        </div>
   </nav>
    </div>
<div class="page">
    <main class="container">
        <section class="rectangle">
            <a href="./recette3.html">
                <center>
                    <h2>MilleFeuille de courgette au boeuf</h2>
                </center>
                
                <div class="youtube">
                    <img class="plat" src="../image/millefeuillecourgette.png" width="500" height="250" alt="">
                    <video  width="500" height="250" class="test-video" loop muted id="myVideo">
                    <source src="../image/courgette.mp4" type="video/mp4">
                   </video>
                </div>
                <center>
                    <p>
                        Régalez vous avec cette recette gourmande au bœuf et au fromage de  
                         chèvre , qui saura vous remplir de réconfort!
                    </p>
                </center>
                <div class="icones">
                    <div style="display: flex;">
                        <img src="../image/ané-log-removebg-preview.png" alt="flacon" class="flacon">
                        <p>Anémie</p>
                    </div>
                    <div style="display: flex;">
                        <img src="../image/couteau.png" alt="couteau" class="couteau">
                        <p>45 min</p>
                    </div>
                    <div style="display: flex;">
                        <img src="../image/temps-removebg-preview.png" alt="temps" class="temps">
                        <p>4 pers.</p>
                    </div>
                    <div style="display: flex;">
                        <img src="../image/_-removebg-preview.png"  alt="euro" class="euro">
                        <p>32€</p>
                    </div>
                </div>
            </a>
        </section>

        <section class="rectangle-droite">
            <a  href="./recette4.html">
                <center>
                    <h2>Salade d'épinard au tofu</h2>
                </center>
                <div class="youtube24">
                    <img class="plat24" src="../image/pppp.png" width="500" height="250" alt="">
                    <video controls width="500" height="250" class="test-video24" loop muted id="marche">
                    <source src="../image/epinard.mp4" type="video/mp4">
                   </video>
                </div>
                <center>
                    <p>
                        Dégustez cette recette aux allures verdoyantes , 
                        économique et rapide ! 
                    </p>
                </center>
                <div class="icones" style="display: flex;">
                    <div style="display: flex;">
                        <img src="../image/ané-log-removebg-preview.png" alt="flacon" class="flacon">
                        <p>Anémie</p>
                    </div>
                    <div style="display: flex;">
                        <img src="../image/couteau.png" alt="couteau" class="couteau">
                        <p>45 min</p>
                    </div>
                    <div style="display: flex;">
                        <img src="../image/temps-removebg-preview.png" alt="temps" class="temps">
                        <p>4 pers.</p>
                    </div>
                    <div style="display: flex;">
                        <img src="../image/_-removebg-preview.png" alt="euro" class="euro">
                        <p>32€</p>
                    </div>
                </div>
            </a>
        </section>
    </main>
</div>

    <footer class="footer">
        <a class="icon-link" href="https://www.instagram.com/_____beps_____/"><img src="../image/instagram 1.png" alt=""></a>
        <a class="icon-link" href=" https://www.facebook.com/profile.php?id=61553080681782"><img src="../image/facebook 1.png" alt=""></a>
        <a class="icon-link" href=""><img src="../image/twitter 1.png" alt=""></a>
        <a class="icon-link" href=""><img src="../image/tic-tac 1.png" alt=""></a>
    </footer>
</body>
</html>
