<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Millefeuille de courgette au boeuf</title>
    <link rel="stylesheet" href="stylerecette3.css">
    <script src="scriptrecette1.js" defer></script>
    <script src="../java.js" defer></script>

</head>
              
<div class="Header">
    <!-- Section maladies -->
    <div class="maladies">
        <a href="../mainPage.html"> <img class="Logo" src="../image/logo_ours.png" alt=""> </a>
        <a class="clique" href="../diabète/Diabète.html"> <img src="../image/diab-log.png" alt=""> Diabète  </a>
        <a class="clique" href="./Anémie.html"><img src="../image/ané-log.png" alt=""> Anémie</a>
    </div>
    <!-- Section liens -->
    <div class="liens">
        <div class="defil">
                 
            <button class="C"><img src="../image/contact-log.png" alt="">Contact</button> 
            
                <center>
                    <button class="sousC"><a href="">Tel : +33 951453761</a></button>
                    <button class="sousC"><a href="">Mail : bienetre.partage.sante@gmail.com</a></button>
                </center>
        </div>
        <a class="clique" href="../Liens-utiles/liensutiles.html"><img src="../image/liens-log.png" alt=""> Liens utiles</a>
        <div class="defil">
            
                    <button class="ML" > <img src="../image/liste-log.png" alt="">Ma liste</button> 
                <center>
                    <button class="sousML"><a href="">MilleFeuille </a></button>
                    <button class="sousML"><a href="">Salade d'épinard </a></button>
                </center>
                
            
        </div>
        
    </div>


<div class="phoneMenu" >
    
    <ul>
        <li><a href="../../index.html">Portfolio</a></li>
        <li><a href="../diabète/Diabète.html">Diabète</a></li>
        <li><a href="../Anémie/Anémie.html">Anémie</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="../Liens-utiles/liensutiles.html">Liens utiles </a></li>
        <li><a href="#">Ma liste</a></li>
    </ul>
</div>
<nav>
    <div class="Hmenu">
        <img src="../image/menu.png" alt="">
      
    </div>
</nav>
</div>
<div class="phoneMenu" >
       
    <ul>
        <li><a href="../index.html">Portfolio</a></li>
        <li><a href="./diabète/Diabète.html">Diabète</a></li>
        <li><a href="./Anémie/Anémie.html">Anémie</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="./Liens-utiles/liensutiles.html">Liens utiles </a></li>
        <li><a href="#">Ma liste</a></li>
    </ul>
</div>
<nav>
    <div class="Hmenu">
        <img src="../image/menu.png" alt="">
      
    </div>
</nav>

<div class="page">
<div class="titrerecette">
    <h1>Millefeuille de courgette au boeuf</h1>
    <div class="inforecette">
        <button><img class="imagerecette" src="../image/vitamines noir.png" alt=""> Anémie</button>
        <button><img class="imagerecette" src="../image/sablier noir.png" alt=""> 45 min.</button>
        <button><img class="imagerecette" src="../image/couverts noirs.png" alt=""> 4 pers.</button>
    </div>
</div>

<div class="recette">
    <div class="blocgauche">
        <div class="blochaut">
            <h2>Ingrédients</h2>
            <div class="blocingredient">
                <div class="quantite">
                    <p>4 <br>200g <br>4 tranches <br>250 mL <br>8 brins</p>
                </div>
                <div class="ingredient1">
                    <p>Courgettes rondes <br>Cuisse de boeuf <br>Fromage de chèvre bûchette <br>Bouillon de légumes <br>Persil</p>
                </div>
            </div>
        </div>


        <div class="blocbas">
            <h2>Recette</h2>
            <div class="blocrecette">
                <div class="etape">
                <p>1. Lavez les courgettes. Coupez chaque courgette en rondelles. Faites-les cuire sous le gril du four 8 min.</p><p>2. Déposez 4 rondelles de courgette au fond d’un plat allant au four. Ajoutez une fine tranche de bœuf. <br>Salez, poivrez. Mettez de nouveau une tranche de courgette, puis une tranche de tende de bœuf. Salez, poivrez. Terminez par une rondelle de courgette et une tranche de chèvre. </p><p>3. Arrosez de bouillon de légumes. Enfournez à 180 °C 10 à 15 min.</p>
                </div>
            </div>
        </div>
    </div>

<img class="photorecette" src="../image/millefeuillecourgette.png" alt="">
</div>
<div class="ligne"> 

<div class="basrecette">
    <button class="like" id="likeButton">
        <img class="imagerecette" src="../image/jaime.png" alt="" id="likeIcon">
    </button>

    <button class="etoile" id="etoileButton">
        <img class="star" src="../image/etoilevide.png" alt="">
        <img class="star" src="../image/etoilevide.png" alt="">
        <img class="star" src="../image/etoilevide.png" alt="">
        <img class="star" src="../image/etoilevide.png" alt="">
        <img class="star" src="../image/etoilevide.png" alt="">
      </button>



</div>
</div>
<div class="footer">
    <!-- Liens vers les réseaux sociaux -->
    <a class="icon-link" href="https://www.instagram.com/_____beps_____/"><img src="../image/instagram 1.png" alt=""></a>
    <a class="icon-link" href=" https://www.facebook.com/profile.php?id=61553080681782"><img src="../image/facebook 1.png" alt=""></a>
    <a class="icon-link" href=""><img src="../image/twitter 1.png" alt=""></a>
    <a class="icon-link" href=""><img src="../image/tic-tac 1.png" alt=""></a>
</div>
</div>


    
</body>
</html>
