<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salade d'épinard au tofu</title>
    <link rel="stylesheet" href="stylerecette4.css">
    <script src="scriptrecette1.js" defer></script>
    <script src="../java.js" defer></script>

</head>

<body>
    <div class="Header">
        <!-- Section maladies -->
        <div class="maladies">
            <a href="../mainPage.html"> <img class="Logo" src="../image/logo_ours.png" alt=""> </a>
            <a class="clique" href="../diabète/Diabète.html"> <img src="../image/diab-log.png" alt=""> Diabète  </a>
            <a class="clique" href="./Anémie.html"><img src="../image/ané-log.png" alt=""> Anémie</a>
        </div>
        <!-- Section liens -->
        <div class="liens">
            <div class="defil">
                     
                <button class="C"><img src="../image/contact-log.png" alt="">Contact</button> 
                
                    <center>
                        <button class="sousC"><a href="">Tel : +33 951453761</a></button>
                        <button class="sousC"><a href="">Mail : bienetre.partage.sante@gmail.com</a></button>
                    </center>
            </div>
            <a class="clique" href="../Liens-utiles/liensutiles.html"><img src="../image/liens-log.png" alt=""> Liens utiles</a>
            <div class="defil">
                
                        <button class="ML" > <img src="../image/liste-log.png" alt="">Ma liste</button> 
                    <center>
                        <button class="sousML"><a href="">MilleFeuille </a></button>
                        <button class="sousML"><a href="">Salade d'épinard </a></button>
                    </center>
                    
                
            </div>
            
        </div>
    
    
    <div class="phoneMenu" >
        
        <ul>
            <li><a href="../../index.html">Portfolio</a></li>
            <li><a href="../diabète/Diabète.html">Diabète</a></li>
            <li><a href="../Anémie/Anémie.html">Anémie</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="../Liens-utiles/liensutiles.html">Liens utiles </a></li>
            <li><a href="#">Ma liste</a></li>
        </ul>
    </div>
    <nav>
        <div class="Hmenu">
            <img src="../image/menu.png" alt="">
          
        </div>
    </nav>
    </div>
    <div class="phoneMenu" >
           
        <ul>
            <li><a href="../index.html">Portfolio</a></li>
            <li><a href="./diabète/Diabète.html">Diabète</a></li>
            <li><a href="./Anémie/Anémie.html">Anémie</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="./Liens-utiles/liensutiles.html">Liens utiles </a></li>
            <li><a href="#">Ma liste</a></li>
        </ul>
    </div>
    <nav>
        <div class="Hmenu">
            <img src="../image/menu.png" alt="">
          
        </div>
    </nav>

   <div class="page">
    <div class="titrerecette">
        <h1>Salade d'épinard au tofu</h1>
        <div class="inforecette">
            <button><img class="imagerecette" src="../image/vitamines noir.png" alt=""> Anémie</button>
            <button><img class="imagerecette" src="../image/sablier noir.png" alt=""> 20 min.</button>
            <button><img class="imagerecette" src="../image/couverts noirs.png" alt=""> 4 pers.</button>
        </div>
    </div>
    
    <div class="recette">
        <div class="blocgauche">
            <div class="blochaut">
                <h2>Ingrédients</h2>
                <div class="blocingredient">
                    <div class="quantite">
                        <p>800g <br>200g <br>2 <br>1 </p>
                    </div>
                    <div class="ingredient1">
                        <p>Epinards en branche <br>Tofu <br>Oignons verts <br>Citron</p>
                    </div>
                    <div class="quantite">
                        <p>1 c.a.s <br>1 c.a.s <br>3 c.a.c </p>
                    </div>
                    <div class="ingredient2">
                        <p>Paillettes d'alge nori <br>Graines de sésame <br>Huile d'Olive <br>Sel, poivre</p>
                    </div>
                </div>
            </div>
    
    
            <div class="blocbas">
                <h2>Recette</h2>
                <div class="blocrecette">
                    <div class="etape">
                    <p>1. Laver, équeutez, séchez les épinards. Faites les revenir 3 min dans 1 cuillère d’huile d'olive. Réservez.</p><p>2. Dans la même poêle, faite revenir le tofu 2 min sur chaque face et coupez le en petits rectangles.</p><p>3. Lavez les oignon. Coupez les radicelles. Hachez les bulbes, coupez les tiges en petit tronçons.</p><p>4. Presser le citron. Mélangez le jus à l’huile d’olive. Salez, poivrez.</p><p>5.Répartissez les épinard dans les assiettes. Déposez au centre des rectangles de tofu. Ajoutez un peu d’oignon. Saupoudrez de paillettes d’algue et de graines de sésame. Arrosez de vinaigrette. Servez.</p>
                    </div>
                </div>
            </div>
        </div>
    
    <img class="photorecette" src="../image/pppp.png" alt="">
    </div>
    
    <div class="basrecette">
        <button class="like" id="likeButton">
            <img class="imagerecette" src="../image/jaime.png" alt="" id="likeIcon">
        </button>

        <button class="etoile" id="etoileButton">
            <img class="star" src="../image/etoilevide.png" alt="">
            <img class="star" src="../image/etoilevide.png" alt="">
            <img class="star" src="../image/etoilevide.png" alt="">
            <img class="star" src="../image/etoilevide.png" alt="">
            <img class="star" src="../image/etoilevide.png" alt="">
          </button>


       
    </div>
</div>
    <div class="footer">
        <!-- Liens vers les réseaux sociaux -->
        <a class="icon-link" href="https://www.instagram.com/_____beps_____/"><img src="../image/instagram 1.png" alt=""></a>
        <a class="icon-link" href=" https://www.facebook.com/profile.php?id=61553080681782"><img src="../image/facebook 1.png" alt=""></a>
        <a class="icon-link" href=""><img src="../image/twitter 1.png" alt=""></a>
        <a class="icon-link" href=""><img src="../image/tic-tac 1.png" alt=""></a>
    </div>
    </div>
</body>
</html>
