<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEPS</title>
    <link rel="stylesheet" href="./mainPage.css">
    <link rel="icon" href="./image/teddy_bear.png">
    <script src="./java.js" defer></script>
</head>
<body>
    <div class="Header">
    <a href="../../../index.html" class="clique"> Portfolio</a>
        <!-- Section maladies -->
        <div class="maladies">
            <a class="clique" href="./diabète/Diabète.html"> <img src="./image/diab-log.png" alt=""> Diabète  </a>
            <a class="clique" href="./Anémie/Anémie.html"><img src="./image/ané-log.png" alt=""> Anémie</a>
        </div>
        <div class="lCen">
            <a href="./mainPage.html"> <img class="Logo" src="./image/logo_ours.png" alt=""> </a>
        </div>
        
        <!-- Section liens -->
        <div class="liens">
            <div class="defil">
                     
                <button class="C"><img src="./image/contact-log.png" alt="">Contact</button> 
                
                    <center>
                        <button class="sousC"><a href="">Tel : +33 951453761</a></button>
                        <button class="sousC"><a href="">Mail : bienetre.partage.sante@gmail.com</a></button>
                    </center>
            </div>
            <a class="clique" href="./Liens-utiles/liensutiles.html"><img src="./image/liens-log.png" alt=""> Liens utiles</a>
            <div class="defil">
                
                        <button class="ML" > <img src="./image/liste-log.png" alt="">Ma liste</button> 
                    <center>
                        <button class="sousML"><a href="">MilleFeuille </a></button>
                        <button class="sousML"><a href="">Salade d'épinard </a></button>
                    </center>
                    
                
            </div>
            
        </div>

        <div class="phoneMenu" >
            
            <ul>
                <li><a href="../index.html">Portfolio</a></li>
                <li><a href="./diabète/Diabète.html">Diabète</a></li>
                <li><a href="./Anémie/Anémie.html">Anémie</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="./Liens-utiles/liensutiles.html">Liens utiles </a></li>
                <li><a href="#">Ma liste</a></li>
            </ul>
       </div>
       <nav>
            <div class="Hmenu">
                <img src="./image/menu.png" alt="">
              
            </div>
       </nav>
       

    </div>
    <div class="page">
        <!-- Contenu de la page -->
 <!-- Image de l'ourson -->
 <img class="ourson" src="./image/teddy_bear.png" alt="">
    
 <!-- Titre principal -->
 <h1 class="BEPS">B.E.P.S.</h1>

 <!-- Section "Bien-être, Partage, Santé." -->
 <center>
     <p class="Bien"> Bien-être, Partage, Santé.</p>
 </center>

 <!-- Bloc de texte -->
 <div class="blocTxt">
     <!-- Titre -->
     <h3>Notre Histoire</h3>
     <!-- Paragraphe sur l'histoire de BEPS -->
     <p class="projTxt">Le projet BEPS a pour but de permettre</p>
     <p class="projTxt">aux personnes atteintes de maladies liées à la nutrition de</p>         
     <p class="projTxt">pouvoir se nourrir à moindre frais tout en étant de bonne qualité nutritive.</p>        
     <p class="projTxt">et gustative.</p>        
 </div>


    </div>

   
    <!-- Pied de page -->
    <div class="footer">
        <!-- Liens vers les réseaux sociaux -->
        <a class="icon-link" href="https://www.instagram.com/_____beps_____/"><img src="./image/instagram 1.png" alt=""></a>
        <a class="icon-link" href=" https://www.facebook.com/profile.php?id=61553080681782"><img src="./image/facebook 1.png" alt=""></a>
        <a class="icon-link" href=""><img src="./image/twitter 1.png" alt=""></a>
        <a class="icon-link" href=""><img src="./image/tic-tac 1.png" alt=""></a>
    </div>
</body>
</html>
